OMDb_MOVIES_API_KEY="YOUR API KEY -> https://www.omdbapi.com/apikey.aspx"

# Postgres configuration
POSTGRES_USER="root"
POSTGRES_PASSWORD="root"
POSTGRES_HOST="postgres" # The hostname refers to the Docker Compose service name, which containers use to communicate with each other and avoid issues caused by changing IP addresses.
POSTGRES_PORT="5432"
POSTGRES_NAME="root"

# Mongodb configuration
MONGODB_USER="root"
MONGODB_PASSWORD="root"
MONGODB_HOST="mongo"     # The hostname refers to the Docker Compose service name, which containers use to communicate with each other and avoid issues caused by changing IP addresses.
MONGODB_PORT="27017"
MONGODB_NAME="root"

# Redis configuration
REDIS_PASSWORD="root"
REDIS_HOST="redis"       # The hostname refers to the Docker Compose service name, which containers use to communicate with each other and avoid issues caused by changing IP addresses.
REDIS_PORT="6379"